.star-rating {
  display: flex;
  margin-top: 10px;
  margin-left: -6px;
  align-items: center;

  .star {
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    &.filled {
      color: #ffcc00;
    }

    &:hover,
    &:hover ~ .star {
      color: #ffcc00;
    }
  }

  .star:hover ~ .star {
    color: #ccc;
  }
}
